#countdown-box {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; 
   
}

#countdown-box h1{
    font-size:3.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0 auto;
    text-align: center;
    max-width:300px;
    color:#fdfd88;

}

.countdown-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px; 
    margin: 0 20px;
}

.newyear-container{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1; 
    pointer-events: none; 
    background-color: #234;
}

.countdown-card {
    min-width: 80px; 
    height: 120px; 
    margin: 0 10px; 
    position: relative; 
}

.card-front, .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    min-height: 120px;
    font-size: 2rem;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: absolute; 
    top: 0;
    left: 0;
}

.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2; 
}

.card-back {
    position: relative; 
}

.image {
    position: relative; 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%; 
    max-height: 100%; 
}

.card-value {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.card-label {
    font-size:1.4rem;
    
    padding:5px, 10px;
    background: #fdfd88;
    width:100%;
    color: #888; 
}

.card-back img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}
